extends layout

mixin card(title, hours, location, dates, isWork, ...bulletpoints)
    .cv-card.d-flex.justify-content-center
        .col.cv-card-info.text-center.box-shadow
            div.cv-title-container.d-flex.justify-content-center
                if isWork
                    img.cv-card-image(src="images/icons/work.svg")
                else
                    img.cv-card-image(src="images/icons/education.svg")
                h3.cv-title= title
            p.cv-hours-location= hours + " @ " + location
            p.cv-dates= dates
            ul.cv-bulletpoints 
                each bulletpoint in bulletpoints
                    li.cv-bulletpoint 
                        p.cv-bulletpoint-content= bulletpoint



block navbar 
  include includes/navbar.pug
  +navbar("CV", "Home", "CV", "Press")
block content
    div(class="container")
        div(class="row intro-bar")
            div(class="col-6 text-center my-image-container")
                img(src="images/me2.jpg" class="image my-image box-shadow" id="my-cv-image" alt="Me")
            div(class="col-6 blurb box-shadow")
                img.cv-icon-sm(src="images/icons/info.svg")
                p= "I am a young proffesional, who has been programming for " + from(2013) + " years and working professionally for " + from(2018) + " years in a Software Engineer apprentice role, as part of a degree apprenticeship scheme with Payara in partnership with Aston University."
                p A Start-up company environment has allowed me experience many different roles, from Dev-OPS to Middle-ware application software engineer to Web application engineer.
                p Experience with developing, administrating and troubleshooting web application servers. Applicable experience for legacy systems such as Glassfish 4 and Glassfish 5. 
                p Successfully conducted internal and external presentations and demos on various topics, technical and non-technical topics.
                p Comfortable with HTML, CSS, Javascript, Express.js, C#, Python, Java, Visual Basic.NET. Some knowledge of Ada, Lisp, Haskell, C++ and Ruby.
        +card('Frontline Service Engineer', 'Full-Time', 'Payara', 'Oct 2020 - Now', true, '100% SLA targets met, 100% Customer Satisfaction.', 'Dealing with complex customer issues that occur in production environments.', 'Responsible for bringing average response time to tickets from 24-hours to 1-hour.', 
        'Spearheading a company technical knowledge base migration and overhaul, organising and working with multiple departments.', 'Simpyfing and automating the documentation release process to a single click.', 'Working with customers globally') 

        +card('QA & CI Engineer', 'Full-Time', 'Payara', 'March 2020 - October 2020', true, 'Set up IT asset managment system', 'bringing automated pull request testing to Enterprise distributions', 
        'Writing Integration and Unit tests for the product', 'Orchastrating monthly releases of the product', 'Scripting to improve docker image release process')

        +card('Software Engineer', 'Full-Time', 'Payara', 'June 2019 - March 2020', true, 'Primary developer for company customer portal', 'Full Stack developtment with REST, Java EE, JSF and CSS')

        +card('Software Engineer', 'Full-Time', 'Payara', 'Nov 2018 - June 2019', true, 'Technical team member for the developtment of Payara Server', 'Fixing Bugs and Implementing features')

        +card('Student', 'Part-Time', 'Aston University', 'Nov 2018 - Now', false, 'Studying BSc Digital & Technology Solutions')

        +card('Student', 'Full-Time', 'Hereford Sixth Form', 'September 2016 - July 2018', false, 'A-Level Computer Science', 'A-Level Physics', 'A-Level Psychology')

        +card('Student', 'Full-Time', 'Whitecross High School', 'September 2011 - July 2016', false, 'Studied 9 GCSES')