extends layout

mixin card(title, hours, location, dates, isWork, ...bulletpoints)
    .cv-card.row.grow
        .col-12.cv-card-info.text-center
            h3= title
            p= location
            ul 
                each bulletpoint in bulletpoints
                    li 
                        p= bulletpoint
            p= hours
            p= dates

block navbar 
  include includes/navbar.pug
  +navbar("CV", "Home", "CV", "Press")
block content 
    div(class="container")
        div(class="row row-cols-2 text-center jobs")
            div(class="col-12")
                img(src="images/me2.jpg" class="image my-image" id="my-cv-image" alt="Me")
        
        +card('Frontline Service Engineer', 'Full-Time', 'Payara', 'Oct 2020 - Now', true, '100% SLA targets met, 100% Customer Satisfaction.', 'Dealing with complex customer issues that occur in production environments.', 'Responsible for bringing average response time to tickets from 24-hours to 1-hour.', 
        'Spearheading a company technical knowledge base migration and overhaul, organising and working with multiple departments.', 'Simpyfing and automating the documentation release process to a single click.')

        +card('QA & CI Engineer', 'Full-Time', 'Payara', 'March 2020 - October 2020', true, 'Set up IT asset managment system', 'bringing automated pull request testing to Enterprise distributions', 
        'Writing Integration and Unit tests for the product', 'Orchastrating monthly releases of the product', 'Scripting to improve docker image release process')

        +card('Software Engineer', 'Full-Time', 'Payara', 'June 2019 - March 2020', true, 'Primary developer for company customer portal', 'Full Stack developtment with REST, Java EE, JSF and CSS')

        +card('Software Engineer', 'Full-Time', 'Payara', 'Nov 2018 - June 2019', true, 'Technical team member for the developtment of Payara Server', 'Fixing Bugs and Implementing features')

        +card('Student', 'Part-Time', 'Aston University', 'Nov 2018 - Now', false, 'Studying BSc Digital & Technology Solutions')

        +card('Student', 'Full-Time', 'Hereford Sixth Form', 'September 2016 - July 2018', false, 'A-Level Computer Science', 'A-Level Physics', 'A-Level Psychology')

        +card('Student', 'Full-Time', 'Whitecross High School', 'September 2011 - July 2016', false, '9 GCSES')

        //+card('Student', 'Full-Time', 'Whitecross High School', 'Studying GCSES',
        //'September 2011 - July 2016', false)